<div class="cashier-dashboard-page">
  <section class="dashboard-header">


    <p>
      Vue dédiée au cashier pour suivre les ventes journalières, les paiements,
      l’activité de caisse et les indicateurs opérationnels.
    </p>
  </section>

  <section class="powerbi-panel">
    <div class="panel-header">
      <div>
       
      </div>
    </div>

    <div class="powerbi-blank">
      <iframe
        title="ParaTech Cashier Dashboard"
        src="https://app.powerbi.com/reportEmbed?reportId=7a225092-08a0-4825-8a4f-6284a126f16d&groupId=me&autoAuth=true&pageName=4541e751bb18eae82ed9"
        frameborder="0"
        allowFullScreen="true">
      </iframe>
    </div>
  </section>
</div>
