# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Secrets
.env
.env.*
!.env.example

# MLflow
mlruns/

# Angular / Node
node_modules/
.angular/
dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db