<div class="pharmacist-dashboard-page">
  <section class="dashboard-header">
    <span class="eyebrow">Pharmacist Workspace</span>

    <h1>Power BI Dashboard</h1>

    <p>
      Vue dédiée au pharmacien pour suivre les produits, le stock, les ventes,
      les ruptures et les indicateurs utiles à l’aide à la vente.
    </p>
  </section>

  <section class="powerbi-panel">
    <div class="panel-header">
      <div>
        <h2>Dashboard pharmacien</h2>
        <p>
          Cet espace affiche directement le tableau de bord Power BI dédié au pharmacien.
        </p>
      </div>
    </div>

   <div class="powerbi-blank">
  <iframe
    title="ParaTech Pharmacist Dashboard"
    src="https://app.powerbi.com/reportEmbed?reportId=328581e0-87dc-4b68-8bd1-c37725d05d0c&pageName=4541e751bb18eae82ed9&autoAuth=true&filterPaneEnabled=false&navContentPaneEnabled=false"
    frameborder="0"
    allowfullscreen="true">
  </iframe>
</div>
  </section>
</div>
