<div class="owner-dashboard-page">
  <section class="dashboard-header">

    <h1>Power BI Dashboard</h1>

    <p>
      Vue stratégique pour suivre les ventes, les paiements, le stock et la
      performance globale de la parapharmacie.
    </p>
  </section>

  <section class="powerbi-panel">
    <div class="panel-header">
      
    </div>

    <div class="powerbi-blank">
      <iframe
        title="ParaTech Owner Dashboard"
        src="https://app.powerbi.com/reportEmbed?reportId=54caa3f2-14fc-46ec-b91b-ef5033149568&groupId=me&autoAuth=true"
        frameborder="0"
        allowFullScreen="true">
      </iframe>
    </div>
  </section>
</div>
